<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>Shop owner</th>
      <th>Shop line</th>
      <th>Shop number</th>
      <th>Full address</th>
      <th>Shop contact</th>
      <th>Shop description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.shop_owner %></td>
        <td><%= shop.shop_line %></td>
        <td><%= shop.shop_number %></td>
        <td><%= shop.full_address %></td>
        <td><%= shop.shop_contact %></td>
        <td><%= shop.shop_description %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
